:root {
  --color-yellow: #f0d616;
  --color-light-yellow: #e5cd10;
  --color-black: #3f454f;
  --color-gray: #e4e8ef;
  --color-light-gray: #eaeaea;
  --color-white: #ffffff;
  --color-off-white: #f5f3e3;
}
.wrapper {
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--color-black);
}
.tit-logo {
  padding: 20px;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
}
.tit-logo img {
  display: block;
  width: 100%;
  height: 100%;
}
.footer {
  padding: 40px 0;
  margin: 80px 0 0;
  border-top: 1px solid var(--color-black);
  background: var(--color-gray);
}
.footer-inner {
  margin: 0 auto;
  width: 80vw;
}
.cont-section {
  margin: 60px auto 0;
  width: 80vw;
}

.cont-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.list-item {
  overflow: hidden;
  display: block;
  width: calc(25% - 20px);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid var(--color-black);
}
.list-item dt {
  position: relative;
  padding: 0 0 10px;
  margin: -10px -10px 0;
}
.list-item .wrapImg {
  display: block;
  overflow: hidden;
  height: 300px;
  border-bottom: 2px solid var(--color-black);
}
.list-item dt img {
  transition: all 0.35s;
}
.list-item dt:hover img {
  transform: scale(1.2);
}
.list-item dd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.list-item dd .tit-item {
  font-weight: bold;
  font-size: 20px;
}
.list-item dd .info-item {
  font-weight: bold;
  font-size: 20px;
}
.list-item .info-addtl {
  margin-top: 10px;
  border-top: 1px solid var(--color-gray);
}
.list-tag {
  display: flex;
  align-items: center;
}
.list-tag li {
  padding: 0 5px;
  color: var(--color-black);
}
.item-difc {
  display: flex;
  align-items: center;
  padding: 0 2px;
  width: 80px;
  height: 24px;
  border: 1px solid var(--color-light-yellow);
  border-radius: 5px;
}
.difc-meter {
  display: block;
  height: 18px;
  background: linear-gradient(90deg, #ebe20b, #ed1111);
  border-radius: 5px;
}
.userIcon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--color-light-gray);
  z-index: 10;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
  border: 3px solid var(--color-black);
}

.cont-detail {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail-left {
  width: 40%;
}
.detail-right {
  margin-left: 40px;
  width: calc(60% - 40px);
}
.detail-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: var(--color-white);
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  /* filter: alpha(opacity=50); */
  overflow: hidden;
  border-radius: 5px;
}
.header-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  mix-blend-mode: darken;
  z-index: 1;
  border: 2px solid var(--color-black);
}
.header-tit {
  font-size: 120px;
  letter-spacing: -0.075em;
  text-shadow: -1px -1px -10px var(--color-black);
}
.header-info {
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 10px;
  background: var(--color-yellow);
  font-weight: bold;
  color: var(--color-black);
  z-index: 10;
}
.header-tag {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
}
.header-tag li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin: 0 10px;
  padding: 5px 10px;
  font-weight: bold;
  background: var(--color-yellow);
  border: 2px solid var(--color-black);
  color: var(--color-black);
  border-radius: 5px;
}
.detail-body {
}
.detail-body .stit-seq {
  position: relative;
  display: inline-block;
  margin: 40px 0 0 20px;
  padding: 10px 20px;
  font-size: 20px;
  border: 2px solid var(--color-black);
  background: var(--color-yellow);
}
.detail-body .stit-seq:first-of-type {
  margin-top: 0;
}
.detail-body .stit-seq:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  transform: translate(5px, 5px) rotate(1deg);
  z-index: -1;
}
.detail-body .stit-seq:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 20px;
  border: 2px solid var(--color-black);
  background: var(--color-white);
  transform: translateY(24px);
  z-index: -1;
}
.box-detail {
  position: relative;
  margin: 20px 0 0;
  padding: 0 20px;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  background: var(--color-white);
}
.box-detail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  background: var(--color-gray);
  transform: translate(10px, 5px) rotate(0.25deg);
  z-index: -1;
}
.detial-line {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0 0 60px;
  margin: 40px 0;
}
.detail-order {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: var(--color-gray);
  border: 2px solid var(--color-black);
  color: var(--color-black);
  border-radius: 50%;
  font-weight: bold;
}
.detial-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont-text {
  display: block;
  margin: 0 20px 0 0;
}
.cont-img {
  margin: 0 10px 0 0;
}
.wrap-ingr {
  margin: 40px 0 0;
  background: var(--color-gray);
  border-radius: 3px;
  border: 2px solid var(--color-black);
}
.box-ingr {
  padding: 20px;
}
.list-ingr {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.list-ingr .ingr-nm {
  width: 20%;
  text-align: right;
}
.list-ingr .ingr-amt {
  padding-left: 20px;
  width: calc(80% - 20px);
}

/* pantry */
.pantry-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px;
  margin: 10px;
  width: calc(20% - 20px);
  background: var(--color-gray);
  border-radius: 2px;
}
.pantry-item dt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); */
}
.pantry-item .pantry-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pantry-detail .ingr-nm {
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.pantry-detail .ingr-amt {
  font-size: 16px;
}
.pantry-detail .ingr-knd {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 10px;
  background: var(--color-black);
  color: var(--color-white);
}

/* titles */
.stit-box {
  font-weight: bold;
  font-size: 20px;
}
.stit-seq {
  font-size: 16px;
  font-weight: bold;
}
/* button */
.btn-area {
  margin: 40px 0 0;
  padding: 40px 0 0;
  display: flex;
  align-items: center;
  border-top: 2px dashed var(--color-black);
  width: 100%;
}
.btn-area.md {
  justify-content: center;
}
.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 20px;
  line-height: 1.2;
  background: var(--color-light-gray);
  border-radius: 2px;
  border: none;
  cursor: pointer;
  border: 2px solid var(--color-black);
  font-weight: bold;
}
.btn:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  transform: translate(5px, 5px) rotate(1deg);
  z-index: -1;
}
.btn.primary {
  background: var(--color-yellow);
  font-weight: bold;
}
.btn.secondary {
  background: var(--color-yellow);
  color: var(--color-white);
  font-size: 16px;
  font-weight: bold;
}

/* input */
.text {
  padding: 5px 10px;
  border: 2px solid var(--color-black);
  outline: none;
  height: 40px;
  border-radius: 5px;
  font-size: 18px;
}
.text:focus,
.text:focus-visible {
  border-color: var(--color-light-yellow);
}

/* main styles */
.main-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  margin: 40px auto 0;
  width: 98vw;
}
.main-top .list-item {
  /* margin: 0; */
  /* width: 80vw; */
  /* border-radius: 0; */
}
.main-top .list-item dt {
}
.main-top .list-item dt img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-top .list-item dd {
  /* height: 360px; */
}

.main-top .list-item dd:hover img {
  transform: scale(1);
}
/* gnb */
.menu-gnb {
  margin: 0 0 0 20px;
}
.menu-gnb ul {
  display: flex;
  align-items: center;
}
.btn-gnb {
  position: relative;
  margin: 0 0 0 20px;
  padding: 10px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid var(--color-black);
  transition: all 0.15s;
  background: var(--color-gray);
}
.btn-gnb:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  transition: all 0.15s;
  transform: translate(0, 0) rotate(0);
  z-index: -1;
}
.btn-gnb:hover,
.btn-gnb.active {
  background: var(--color-yellow);
}

.btn-gnb:hover:after,
.btn-gnb.active:after {
  transform: translate(7px, 7px) rotate(1.25deg);
}

/* util */
.menu-util {
  display: flex;
  align-items: center;
  margin: 0 10vw 0 auto;
}
.menu-util ul {
  display: flex;
}
.menu-util li {
  margin: 0 10px;
}
.menu-util li:last-of-type {
  margin-right: 0;
}
.btn-util {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 40px;
  background: var(--color-yellow);
  color: var(--color-black);
  font-weight: bold;
  border-radius: 2px;
  border: 2px solid var(--color-black);
}
.btn-util:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 2px;
  transform: translate(5px, 5px) rotate(1deg);
  z-index: -1;
}

/* regist */
.list-seq {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  counter-reset: seq-counter;
  margin: 40px 0;
}
.list-seq li {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  counter-increment: seq-counter;
  background: var(--color-white);
  border: 2px solid var(--color-gray);
  border-radius: 30px;
}
.list-seq li span {
  position: relative;
  padding: 0 10px 0 10px;
  display: flex;
  align-items: center;
  background: var(--color-white);
  align-self: stretch;
  z-index: 2;
  display: none;
  font-weight: bold;
  color: var(--color-light-yellow);
}
.list-seq li:before {
  content: counter(seq-counter);
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  font-weight: bold;
  width: 30px;
  height: 30px;
  background: var(--color-gray);
  border-radius: 50%;
}
.list-seq li.current {
  border-color: var(--color-light-yellow);
}
.list-seq li.current:before {
  background: var(--color-light-yellow);
}
.list-seq li.current span {
  display: flex;
}
.list-seq:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transform: translateX(10px);
  width: 100%;
  height: 2px;
  background: var(--color-light-yellow);
  z-index: 1;
}
.list-seq li:last-of-type {
  margin: 0;
}
.list-seq li:last-of-type:after {
  display: none;
}
.regist {
  padding: 20px 0;
  border-top: 1px solid var(--color-gray);
}
.stit-recipe {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: -0.05em;
}
.list-regist {
  padding: 20px 10px;
}
.list-regist li {
  display: grid;
  grid-template-columns: 10% 1fr 10% 1fr 10% 1fr 5%;
  align-items: center;
  padding: 10px 0;
  border-top: 1px solid var(--color-gray);
}
.list-regist li .tit-regist {
  padding: 0 0 0 20px;
  font-size: 20px;
  font-weight: bold;
}
.regist.regist_info .list-regist {
  display: flex;
  flex-wrap: wrap;
}
.regist.regist_info .list-regist li {
  width: 50%;
  grid-template-columns: 20% 1fr;
}
.regist.regist_cookseq li {
  column-gap: 5px;
  grid-template-columns: 0.05fr 1fr 6fr 0.025fr;
}
.regist.regist_cookseq li .tit-regist {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-black);
  background: var(--color-light-yellow);
  color: var(--color-black);
}
.regist.regist_cookseq li .text {
  width: 100%;
}
.tit-regist .regist:first-of-type {
  border: 0;
}

.btn-add {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  border: none;
  border-radius: 2px;
  font-size: 0;
  line-height: 0;
  background: var(--color-light-yellow);
  cursor: pointer;
  border: 2px solid var(--color-black);
}
.btn-add:before,
.btn-add:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--color-off-white);
}
.btn-add:before {
  width: 20px;
  height: 2px;
}
.btn-add:after {
  width: 2px;
  height: 20px;
}
/* User Style */
.cont-section.userInfo {
  position: relative;
  padding: 30px 0;
  border-top: 1px solid var(--color-black);
}
.cont-section.userInfo:first-of-type {
  border: none;
}
.head-userInfo {
  display: flex;
  align-items: center;
}
.btn-userSet {
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
  background: url("/images/common/icons/icon_setting.svg") no-repeat center
    center;
  background-size: contain;
  border-radius: 50%;
  font-size: 0;
  line-height: 0;
}
.tit-user {
  margin: 10px 0;
  font-size: 40px;
  font-weight: bold;
}
.img-user {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0 0;
}
.img-user .userImg {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: var(--color-white);
  padding: 10px;
  border: 2px solid var(--color-black);
}
.user-summary {
  position: relative;
  margin: 20px 0 0 50px;
  padding: 30px;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  background: var(--color-white);
  width: calc(100% - 330px);
}
.user-summary:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  transform: translate(15px, 15px) rotate(1deg);
  z-index: -1;
}
.summ-tit {
  position: relative;
  display: inline-block;
  padding: 10px 15px 0;
  font-size: 40px;
  font-weight: bold;
}
.summ-tit:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 100%;
  background: rgba(240, 214, 22, 0.4);
  transform: rotate(-1deg) skewX(-20deg);
}
.summ-intro {
  padding: 10px 15px 20px;
  margin: 10px 0 0;
  font-size: 18px;
  line-height: 1.4;
}
.list-userTag {
  width: 100%;
}
.list-userTag {
  display: flex;
  margin: 20px 0 0;
}
.btn-userTag {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  padding: 5px 10px;
  background: var(--color-yellow);
  border: 2px solid var(--color-black);
  border-radius: 5px;
  font-weight: bold;
  color: var(--color-black);
  font-size: 18px;
}
.list-userSocial {
  display: flex;
  position: absolute;
  right: 0;
  top: 50px;
}
.list-userSocial li {
  margin: 0 0 0 5px;
}
.btn-userSocial {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-black);
  font-size: 0;
  line-height: 0;
  border: 2px solid var(--color-black);
}
.btn-userSocial i {
  display: block;
  width: 25px;
  height: 25px;
  background-size: 25px;
  background-position: center center;
  background-repeat: no-repeat;
}
.btn-userSocial .icon-whatsapp {
  background-image: url("/images/common/icons/icon_whatsapp.svg");
}
.btn-userSocial .icon-google {
  background-image: url("/images/common/icons/icon_google.svg");
}
.btn-userSocial .icon-spotify {
  background-image: url("/images/common/icons/icon_spotify.svg");
}
.btn-userSocial .icon-paper-plane {
  background-image: url("/images/common/icons/icon_paper-plane.svg");
}
.btn-userSocial .icon-discord {
  background-image: url("/images/common/icons/icon_discord.svg");
}
.btn-userSocial .icon-codepen {
  background-image: url("/images/common/icons/icon_codepen.svg");
}
.btn-userSocial .icon-behance {
  background-image: url("/images/common/icons/icon_behance.svg");
}
.btn-userSocial .icon-mailchimp {
  background-image: url("/images/common/icons/icon_mailchimp.svg");
}
.btn-userSocial .icon-airbnb {
  background-image: url("/images/common/icons/icon_airbnb.svg");
}
.btn-userSocial .icon-twitter {
  background-image: url("/images/common/icons/icon_twitter.svg");
}
.btn-userSocial .icon-reddit {
  background-image: url("/images/common/icons/icon_reddit.svg");
}
.btn-userSocial .icon-linkedin-in {
  background-image: url("/images/common/icons/icon_linkedin-in.svg");
}
.btn-userSocial .icon-facebook-messenger {
  background-image: url("/images/common/icons/icon_facebook-messenger.svg");
}
.btn-userSocial .icon-facebook {
  background-image: url("/images/common/icons/icon_facebook.svg");
}
.btn-userSocial .icon-instagram {
  background-image: url("/images/common/icons/icon_instagram.svg");
}
.list-favor {
  display: flex;
  flex-wrap: wrap;
}
.list-favor li {
  position: relative;
  margin: 10px 15px;
  width: 130px;
  border: 2px solid var(--color-black);
  border-radius: 5px;
  background: var(--color-white);
  z-index: 1;
}
.list-favor li:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  transform: translate(5px, 5px) rotate(1deg);
  z-index: -1;
}
.list-favor li:nth-child(odd) {
  transform: rotate(1.5deg);
}
.list-favor li:nth-child(even) {
  transform: rotate(-1.5deg);
}
.list-favor dl {
  padding: 0 0 10px;
  background: var(--color-white);
}
.list-favor dt {
  padding: 5px 10px;
  height: 36px;
  font-size: 24px;
  background: var(--color-yellow);
  border-bottom: 1px solid var(--color-black);
}
.list-favor dd {
  overflow: hidden;
  padding: 5px 10px;
  font-size: 18px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.1em;
  height: 4.8em;
}
.list-priends {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}
.list-priends li {
  position: relative;
  margin: 0 0 0 -10px;
}
.info-priends {
  position: absolute;
  padding: 5px 10px;
  left: 0;
  right: 0;
  bottom: -50px;
  margin: auto;
  border-radius: 5px;
  background: var(--color-gray);
}
.icon-priends {
  position: relative;
  overflow: hidden;
  display: block;
  border: 2px solid var(--color-black);
  padding: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: var(--color-white);
  transform: scale(1);
  transition: all 0.15s;
  z-index: 1;
}
.icon-priends img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.icon-priends:hover {
  background: var(--color-yellow);
  transform: scale(1.2);
  z-index: 2;
}
.icon-priends.more {
  position: relative;
  background: var(--color-black);
}
.icon-priends.more:after,
.icon-priends.more:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--color-white);
}
.icon-priends.more:after {
  width: 5px;
  height: 60%;
}
.icon-priends.more:before {
  width: 60%;
  height: 5px;
}
.box-notification {
  position: relative;
  margin: 40px 0 0;
  padding: 20px;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  background: var(--color-yellow);
}
.box-notification:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 2px solid var(--color-black);
  border-radius: 10px;
  transform: translate(5px, 5px) rotate(1deg);
  z-index: -1;
}
.box-notification.readed {
  background: var(--color-gray);
}
.cont-notification {
  display: flex;
  align-items: center;
}
.box-imgNoti {
  overflow: hidden;
  width: 160px;
  height: 120px;
  flex: none;
  border: 2px solid var(--color-black);
}
.box-imgNoti .imgNoti {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 0;
  line-height: 0;
  object-fit: cover;
}
.desc-notification {
  margin: 0 0 0 30px;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
}
.link-notification {
  font-weight: bold;
  color: var(--color-black);
}
.imgUpload {
  overflow: hidden;
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.imgUpload .file {
  visibility: hidden;
}
.imgUpload .btnUpload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: var(--color-black);
  cursor: pointer;
}
.img-user .imgUpload {
  position: absolute;
  left: 230px;
  top: 230px;
}
