.wrapper {
  height: 100%;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e4e8ef;
}
.cont-section {
  margin: 20px auto 0;
  width: 80vw;
}

.cont-list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.list-item {
  display: block;
  width: calc(25% - 20px);
  margin: 10px;
  border-radius: 5px;
}
.list-item dt {
  position: relative;
  padding: 0 10px 10px;
}
.list-item dt img {
  transition: all 0.35s;
}
.list-item dt:hover img {
  transform: scale(1.2);
}
.list-item dd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.list-item dd .tit-item {
  font-weight: bold;
  font-size: 20px;
}
.list-item dd .info-item {
  font-weight: bold;
  font-size: 20px;
}
.list-item .info-addtl {
  margin-top: 10px;
  border-top: 1px solid #e4e8ef;
}
.list-tag {
  display: flex;
  align-items: center;
}
.list-tag li {
  padding: 0 5px;
  color: #171b22;
}
.userIcon {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #eaeaea;
  z-index: 10;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: auto;
}

.cont-detail {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail-left {
  width: 40%;
}
.detail-right {
  margin-left: 40px;
  width: calc(60% - 40px);
}
.detail-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #fff;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: alpha(opacity=50);
}
.header-tit {
  font-size: 100px;
}
.header-info {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  border-radius: 36px;
  background: rgba(240, 214, 22, 0.65);
  font-weight: bold;
}
.header-tag {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: flex;
  justify-content: center;
}
.header-tag li {
  margin: 0 10px;
  font-weight: bold;
  color: #f0d616;
}
.detail-body {
}
.detial-line {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 0 0 60px;
  margin: 40px 0;
}
.detail-order {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #e4e8ef;
  color: #000;
  border-radius: 50%;
  font-weight: bold;
}
.detial-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont-text {
  display: block;
  margin: 0 20px 0 0;
}
.cont-img {
  margin: 0 10px 0 0;
}
.wrap-ingr {
  margin: 10px 0 0;
  background: #e4e8ef;
  border-radius: 3px;
}
.box-ingr {
  padding: 20px;
}
.list-ingr {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.list-ingr .ingr-nm {
  width: 20%;
  text-align: right;
}
.list-ingr .ingr-amt {
  padding-left: 20px;
  width: calc(80% - 20px);
}

/* pantry */
.pantry-item {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0 20px;
  margin: 10px;
  width: calc(20% - 20px);
  background: #e4e8ef;
  border-radius: 2px;
}
.pantry-item dt {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.15); */
}
.pantry-item .pantry-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pantry-detail .ingr-nm {
  padding: 5px 0;
  font-size: 20px;
  font-weight: bold;
}
.pantry-detail .ingr-amt {
  font-size: 16px;
}
.pantry-detail .ingr-knd {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 5px 10px;
  background: #171b22;
  color: #fff;
}

/* titles */
.stit-box {
  font-weight: bold;
  font-size: 20px;
}
/* button */
.btn-area {
  margin: 20px 0 0;
  padding: 20px 0 0;
  display: flex;
  align-items: center;
  border-top: 1px solid #e4e8ef;
  width: 100%;
}
.btn-area.md {
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  font-size: 20px;
  background: #eaeaea;
  border-radius: 40px;
}
.btn.primary {
  background: #f0d616;
  color: #fff;
  font-weight: bold;
}

/* main styles */
.main-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: hidden;
  margin: 40px 0 0;
}
.main-top .list-item {
  margin: 0;
  /* width: 80vw; */
  border-radius: 0;
}
.main-top .list-item dt {
}
.main-top .list-item .wrapImg {
  display: block;
  overflow: hidden;
  height: 300px;
}
.main-top .list-item dt img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-top .list-item dd {
  /* height: 360px; */
}

.main-top .list-item dd:hover img {
  transform: scale(1);
}
/* gnb */
.menu-gnb {
  margin: 0 0 0 20px;
}
.menu-gnb ul {
  display: flex;
  align-items: center;
}
.btn-gnb {
  position: relative;
  margin: 0 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.15s;
}
.btn-gnb:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: auto;
  background: #f0d616;
  width: 0;
  height: 6px;
  transition: width 0.15s;
}
.btn-gnb:hover,
.btn-gnb.active {
  color: #f0d616;
}

.btn-gnb:hover:after,
.btn-gnb.active:after {
  width: 100%;
}
